.DS_Store
.build/*
Packages
.swiftpm
Package.resolved

tdLBQVecTool
.build/x86_64-apple-macosx/debug/tdQVecTool


plot_*
tdLBQVecRushtonTurbineSampleOutput

*.bin
*.rho.bin
*.ux.bin
*.uy.bin
*.uz.bin
*.vorticity.bin
*.png


python/get-pip.py
python/.ipynb_checkpoints/
