.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
.swiftpm/
Package.resolved

plot_*

*.bin
*.rho.bin
*.ux.bin
*.uy.bin
*.uz.bin
*.vorticity.bin
*.png


python/get-pip.py
python/.ipynb_checkpoints/
